* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

/* Navigation menu and header image*/
header {
    /* block-size: 1920px 850px; */
    width: 100%;
    background-image: url(img/slide1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 850px; 
    background-size: cover;
    border-bottom: 4px solid #aca4a4;
}

nav {
    background-color: rgba(107, 97, 97, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logo {
    font-size: 1.72em;
    align-self: flex-end;
    color: #f7f4f3;
}

.menu,
.lang {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 1em;
}

.menu li,
.lang li {
    margin: 0 14px;
}

nav a {
    opacity: 1;
    color: #f7f4f3;
    text-decoration: none;
}

/* Welcome to Hotel section & Calendars */
main {
    color: #514b62;
}

.Welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen 
        and (max-device-width: 1200px) {
        
        .Welcome {
            flex-direction: column;
            padding: 50px 40px;
        }

        .Welcome > .text-part {
            text-align: center;
            margin-bottom: 30px;
        }
    }

.text-part{flex: 50%;}

.selection-part {flex: 50%;}

.Welcome {
    padding: 50px 8% 64px 8%;
    background-color: #f7f4f3;
}
h2 {
    margin-bottom: 15px;
    font-size: 2.57em;
}
.Welcome p {
    width: 90%;
    color: #514b62;
    margin-bottom: 30px;
    font-size: 1.15em;
    line-height: 1.57em;
}

button {
    height: 42px;
    width: 170px;
    background-color: #6b6161; 
    border: none;
    color: #f7f4f3;
    padding: 13px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}
.selection-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.selection-part div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.selection-part label {
    font-size: 1.15em;
    text-align: center;
    margin-bottom: 15px;
}
.selection-part input,
.selection-part select{
    width: 98%;
    height: 200px;
    background-color: #aca4a4;
    color: #f7f4f3;
    border: none;
    text-align: center;
}

/* Featured chambers section */
.featured-chambers {
    padding: 77px 8% 125px 8%;
    background-color: #ede3da;
}
.all-chambers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h2-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mobile-btn {
    display: none;
}

.chamber {
    background-color: #d9d0ca;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.chamber-image {
    background-position: center;
    background-size: cover;
    min-height: 218px;
}
.image-1{ background-image: url(img/slide1.jpg); }
.image-2{ background-image: url(img/slide2.jpg); }
.image-3{ background-image: url(img/slide1.jpg); }

.description {
    padding: 5% 5% 7% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
}
.chamber h3 {
    margin-bottom: 20px;
    font-size: 1.29em;
}
.chamber p {
    font-size: 1em;
    line-height: 1.22em;
    margin-bottom: 12px;
}
.chamber a {
    color: #514b62;
    text-align: end;
}
.view-chamber {   
    align-self: flex-end;
    padding: 6% 6%;
}

/* (Future) Slider section */

.slider-field{
    /* block-size: 1920px 850px; */
    background-image: url(img/slide2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 850px; 
    background-size: cover;
    border-bottom: 4px solid #aca4a4;
}

/* Impressions and Reviews Section */

.impressions-and-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Impressions */
.impressions {
    display: flex;
    flex-direction: column;
    flex: 70%;
    background-color: #f7f4f3;
    padding: 80px 2% 90px 8%;
}
.gallery {
    max-width: 600px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.impress-img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 260px;
}

.im-1 {background-image: url(img/im-1.jpeg);}
.im-2 {background-image: url(img/im-2.jpg);}
.im-3 {background-image: url(img/im-3.jpg);}
.im-4 {background-image: url(img/im-4.png);}

/* Reviews */

.user-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews {
    flex: 30%;
    background-color: #ede3da;
    padding: 80px 8% 90px 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.rating {
    margin-top: 20px;
}
.review h5 {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.29em;
    color: #514b62;
    margin-bottom: 10px;
}
.review p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.29em;
    color: #514b62;
    margin-bottom: 20px;
}
.border{
    border-bottom: 1px solid #aca4a4;
    margin-bottom: 10px;

}

.review-button {
    justify-self: flex-end;
    align-self: center;
    margin-top: 10%;
}


footer {
    padding: 30px;
    background-color: #ede3da;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    text-align: center;
    color: #514b62;
    font-size: 1em;
}